@tailwind base;
@tailwind components;
@tailwind utilities;




/* TYPOGRAPHY */
@font-face {
  font-family: 'sst arabic bold';
  src: url('fonts/sstArabic/sst-arabic-bold.ttf') format('truetype');
}
@font-face {
  font-family: 'DINNextLT-Medium';
  src: url('fonts/dinnextlt/ArbFONTS-DINNEXTLTARABIC-LIGHT-1.ttf') format('truetype');
}

@font-face {
  font-family: 'DINNextLT-bold';
  src: url('fonts/dinnextlt/ArbFONTS-DINNextLTArabic-Bold-2.ttf') format('truetype');
}
@font-face {
  font-family: 'DINNextLT-regular';
  src: url('fonts/dinnextlt/ArbFONTS-DINNextLTArabic-Regular-2.ttf') format('truetype');
}

.video-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


nav{
  font-family: "sst arabic bold",sans-serif !important;
}

nav ul button {
  font-family: 'DINNextLT-Medium' ,sans-serif !important;
  font-weight: 400;
}


.dinNextLtBold,.cyanTitle,h1{
  font-family: 'DINNextLT-bold' ,sans-serif !important;
}


.dinNextLtRegular{
  font-family: 'DINNextLT-regular' ,sans-serif !important;
}




/* CUSTOM STYLES */
body{
  background-color: #F5F5F5 !important;
  /* height: 300vh; */
  overflow-x: hidden;
}
nav li{
  cursor: pointer;
}





footer ul li,footer p{
  font-family: 'DINNextLT-regular' ,sans-serif !important;
  color: #A7A7A7;
  margin-block: 10px;
  font-size: 16px;
}


 ul li{
  cursor: pointer;
 }
 
footer li{
  cursor: pointer;
}


footer{
  direction: rtl;
}



/* Resuable classes */

.support{
  direction: rtl;
}
.cyanTitle{
  color: #0071F2;
  font-size: 24px;
}

.rightDir{
  direction: rtl !important;
}
/* INPUTS STYLING */

select {
  direction:rtl !important;
}
select ,input{
  font-family: 'DINNextLT-regular' ,sans-serif !important;

}



body{
  position: relative;
}


img{
  cursor: pointer;
}

.map-container{
 height: 100%;
 width: 100%;
 border-radius: 20px;
}


.addPropertyMap-container{
  height: 230px;
  width: 58%;
  border-radius: 4px;
}
.nav-link {
  text-decoration: none;
  margin: 10px;
}

.active {
  padding-bottom: 2px;
  border-bottom: 2px solid #161042; /* Adjust the styling as needed */
}



.navColapse{
  backdrop-filter: blur(8px) !important;
  background: rgba(22, 16, 66, 0.802)  /* background:red !important; */
}

/* Remove default number input arrows */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}